<div id="main">
  <h2>Chat room</h2>
  <div>
    <div id="messages">
      <p class="message">Hello</p>
      <p class="message">Hi</p>
      <p class="message">How are you doing?</p>
    </div>
    <form id="send_message">
      <input type="text" id="message" name="message">
      <button>Send</button>
    </form>
  </div>
</div>
